/* 
	                                                                                                                              
	                                                                                                                              
	HHHHHHHHH     HHHHHHHHH                   lllllll                                                                             
	H:::::::H     H:::::::H                   l:::::l                                                                             
	H:::::::H     H:::::::H                   l:::::l                                                                             
	HH::::::H     H::::::HH                   l:::::l                                                                             
	  H:::::H     H:::::H      eeeeeeeeeeee    l::::lppppp   ppppppppp       eeeeeeeeeeee    rrrrr   rrrrrrrrr       ssssssssss   
	  H:::::H     H:::::H    ee::::::::::::ee  l::::lp::::ppp:::::::::p    ee::::::::::::ee  r::::rrr:::::::::r    ss::::::::::s  
	  H::::::HHHHH::::::H   e::::::eeeee:::::eel::::lp:::::::::::::::::p  e::::::eeeee:::::eer:::::::::::::::::r ss:::::::::::::s 
	  H:::::::::::::::::H  e::::::e     e:::::el::::lpp::::::ppppp::::::pe::::::e     e:::::err::::::rrrrr::::::rs::::::ssss:::::s
	  H:::::::::::::::::H  e:::::::eeeee::::::el::::l p:::::p     p:::::pe:::::::eeeee::::::e r:::::r     r:::::r s:::::s  ssssss 
	  H::::::HHHHH::::::H  e:::::::::::::::::e l::::l p:::::p     p:::::pe:::::::::::::::::e  r:::::r     rrrrrrr   s::::::s      
	  H:::::H     H:::::H  e::::::eeeeeeeeeee  l::::l p:::::p     p:::::pe::::::eeeeeeeeeee   r:::::r                  s::::::s   
	  H:::::H     H:::::H  e:::::::e           l::::l p:::::p    p::::::pe:::::::e            r:::::r            ssssss   s:::::s 
	HH::::::H     H::::::HHe::::::::e         l::::::lp:::::ppppp:::::::pe::::::::e           r:::::r            s:::::ssss::::::s
	H:::::::H     H:::::::H e::::::::eeeeeeee l::::::lp::::::::::::::::p  e::::::::eeeeeeee   r:::::r            s::::::::::::::s 
	H:::::::H     H:::::::H  ee:::::::::::::e l::::::lp::::::::::::::pp    ee:::::::::::::e   r:::::r             s:::::::::::ss  
	HHHHHHHHH     HHHHHHHHH    eeeeeeeeeeeeee llllllllp::::::pppppppp        eeeeeeeeeeeeee   rrrrrrr              sssssssssss    
	                                                  p:::::p                                                                     
	                                                  p:::::p                                                                     
	                                                 p:::::::p                                                                    
	                                                 p:::::::p                                                                    
	                                                 p:::::::p                                                                    
	                                                 ppppppppp                                                                    
	                                                                                                                              
 */
		/* 
			888888    db    88""Yb 88     888888      dP"Yb  888888      dP""b8  dP"Yb  88b 88 888888 888888 88b 88 888888 
			  88     dPYb   88__dP 88     88__       dP   Yb 88__       dP   `" dP   Yb 88Yb88   88   88__   88Yb88   88   
			  88    dP__Yb  88""Yb 88  .o 88""       Yb   dP 88""       Yb      Yb   dP 88 Y88   88   88""   88 Y88   88   
			  88   dP""""Yb 88oodP 88ood8 888888      YbodP  88          YboodP  YbodP  88  Y8   88   888888 88  Y8   88   
		 */
/**
 * 		- Inuit silent classes	FIND_SILENT
 * 			.discreet list  	FIND_DISCREET
 * 			.naked list 		FIND_NAKED_LIST
 * 			.naked				FIND_NAKED
 * 		- Zebras				FIND_ZEBRA
 * 		- Split					FIND_SPLIT
 * 		- Text-related			FIND_TEXT
 * 			.reversed			FIND_TXT_REVERSED
 */





//	FIND_SILENT
/* 
	  /$$$$$$  /$$ /$$                       /$$            /$$$$$$  /$$                                                 
	 /$$__  $$|__/| $$                      | $$           /$$__  $$| $$                                                 
	| $$  \__/ /$$| $$  /$$$$$$  /$$$$$$$  /$$$$$$        | $$  \__/| $$  /$$$$$$   /$$$$$$$ /$$$$$$$  /$$$$$$   /$$$$$$$
	|  $$$$$$ | $$| $$ /$$__  $$| $$__  $$|_  $$_/        | $$      | $$ |____  $$ /$$_____//$$_____/ /$$__  $$ /$$_____/
	 \____  $$| $$| $$| $$$$$$$$| $$  \ $$  | $$          | $$      | $$  /$$$$$$$|  $$$$$$|  $$$$$$ | $$$$$$$$|  $$$$$$ 
	 /$$  \ $$| $$| $$| $$_____/| $$  | $$  | $$ /$$      | $$    $$| $$ /$$__  $$ \____  $$\____  $$| $$_____/ \____  $$
	|  $$$$$$/| $$| $$|  $$$$$$$| $$  | $$  |  $$$$/      |  $$$$$$/| $$|  $$$$$$$ /$$$$$$$//$$$$$$$/|  $$$$$$$ /$$$$$$$/
	 \______/ |__/|__/ \_______/|__/  |__/   \___/         \______/ |__/ \_______/|_______/|_______/  \_______/|_______/ 
	                                                                                                                     
	                                                                                                                     
	                                                                                                                     
 */
//	FIND_DISCREET
		/* 
			8888b.  88 .dP"Y8  dP""b8 88""Yb 888888 888888 888888          88     88 .dP"Y8 888888 
			 8I  Yb 88 `Ybo." dP   `" 88__dP 88__   88__     88   ________ 88     88 `Ybo."   88   
			 8I  dY 88 o.`Y8b Yb      88"Yb  88""   88""     88   """""""" 88  .o 88 o.`Y8b   88   
			8888Y"  88 8bodP'  YboodP 88  Yb 888888 888888   88            88ood8 88 8bodP'   88   
		 */
%discreetList {
	list-style: inside;
	margin: 0;
}



//	FIND_NAKED_LIST
		/* 
			88b 88    db    88  dP 888888 8888b.           88     88 .dP"Y8 888888 
			88Yb88   dPYb   88odP  88__    8I  Yb ________ 88     88 `Ybo."   88   
			88 Y88  dP__Yb  88"Yb  88""    8I  dY """""""" 88  .o 88 o.`Y8b   88   
			88  Y8 dP""""Yb 88  Yb 888888 8888Y"           88ood8 88 8bodP'   88   
		 */
/**
 * Inuit Silent class
 * This mixin undresses a <ul> and its <li>s
 */
%nakedList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



//	FIND_NAKED
		/* 
			88b 88    db    88  dP 888888 8888b.  
			88Yb88   dPYb   88odP  88__    8I  Yb 
			88 Y88  dP__Yb  88"Yb  88""    8I  dY 
			88  Y8 dP""""Yb 88  Yb 888888 8888Y"  
		 */
/**
 * Inuit Silent class
 * This mixin undresses input fields, fieldsets...
 */
%naked {
	border: 0;
	background: transparent;
}





//	FIND_ZEBRA
/* 
	 /$$$$$$$$           /$$                          /$$      /$$ /$$          
	|_____ $$           | $$                         | $$$    /$$$|__/          
	     /$$/   /$$$$$$ | $$$$$$$   /$$$$$$  /$$$$$$ | $$$$  /$$$$ /$$ /$$   /$$
	    /$$/   /$$__  $$| $$__  $$ /$$__  $$|____  $$| $$ $$/$$ $$| $$|  $$ /$$/
	   /$$/   | $$$$$$$$| $$  \ $$| $$  \__/ /$$$$$$$| $$  $$$| $$| $$ \  $$$$/ 
	  /$$/    | $$_____/| $$  | $$| $$      /$$__  $$| $$\  $ | $$| $$  >$$  $$ 
	 /$$$$$$$$|  $$$$$$$| $$$$$$$/| $$     |  $$$$$$$| $$ \/  | $$| $$ /$$/\  $$
	|________/ \_______/|_______/ |__/      \_______/|__/     |__/|__/|__/  \__/
	                                                                            
	                                                                            
	                                                                            
 */
/**
 * 	Usage:
		<div class="zebramix">
			<div class="zebra">one</div>
			<div class="zebra">two</div>
			<div class="zebra zebra--force">three FORCE</div>
			<div class="zebra zebra--force">four</div>
			<div class="zebra">five</div>
			<div class="zebra">six</div>
			<div class="zebra">seven</div>
			<div class="zebra zebra--resist">eight RESIST</div>
			<div class="zebra">nine</div>
			<div class="zebra">ten</div>
		</div>

	Produces:
					one
			########two
			########three FORCE
			########four
					five
			########six
					seven
					eight RESIST
					nine
			########ten
 */
.zebramix {
	.zebra {
		&:nth-child(even),
		&--force {
			background: colors(bg--2);
		}
		&--resist {
			background: colors(bg);
		}
	}
}





//	FIND_SPLIT
/* 
	  /$$$$$$            /$$ /$$   /$$    
	 /$$__  $$          | $$|__/  | $$    
	| $$  \__/  /$$$$$$ | $$ /$$ /$$$$$$  
	|  $$$$$$  /$$__  $$| $$| $$|_  $$_/  
	 \____  $$| $$  \ $$| $$| $$  | $$    
	 /$$  \ $$| $$  | $$| $$| $$  | $$ /$$
	|  $$$$$$/| $$$$$$$/| $$| $$  |  $$$$/
	 \______/ | $$____/ |__/|__/   \___/  
	          | $$                        
	          | $$                        
	          |__/                        
 */
/**
 * Inspired by .split from inuit but without the need of dl + dt + dd
 */
.split {
	text-align: right;
	.split__left {
		float: left;
		clear: left;
		text-align: left;
	}
	.split__right {
		margin: 0;
	}
}





//	FIND_TEXT
/* 
	 /$$$$$$$$                    /$$                              /$$             /$$                     /$$
	|__  $$__/                   | $$                             | $$            | $$                    | $$
	   | $$  /$$$$$$  /$$   /$$ /$$$$$$         /$$$$$$   /$$$$$$ | $$  /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$
	   | $$ /$$__  $$|  $$ /$$/|_  $$_//$$$$$$ /$$__  $$ /$$__  $$| $$ |____  $$|_  $$_/   /$$__  $$ /$$__  $$
	   | $$| $$$$$$$$ \  $$$$/   | $$ |______/| $$  \__/| $$$$$$$$| $$  /$$$$$$$  | $$    | $$$$$$$$| $$  | $$
	   | $$| $$_____/  >$$  $$   | $$ /$$     | $$      | $$_____/| $$ /$$__  $$  | $$ /$$| $$_____/| $$  | $$
	   | $$|  $$$$$$$ /$$/\  $$  |  $$$$/     | $$      |  $$$$$$$| $$|  $$$$$$$  |  $$$$/|  $$$$$$$|  $$$$$$$
	   |__/ \_______/|__/  \__/   \___/       |__/       \_______/|__/ \_______/   \___/   \_______/ \_______/
	                                                                                                          
	                                                                                                          
	                                                                                                          
 */
//	FIND_TXT_REVERSED
		/* 
			88""Yb 888888 Yb    dP 888888 88""Yb .dP"Y8 888888 8888b.  
			88__dP 88__    Yb  dP  88__   88__dP `Ybo." 88__    8I  Yb 
			88"Yb  88""     YbdP   88""   88"Yb  o.`Y8b 88""    8I  dY 
			88  Yb 888888    YP    888888 88  Yb 8bodP' 888888 8888Y"  
		 */
.text--rev {
	color: colors(bg)!important;
}
