/* 
                                                                                                                                                                         
                                                                                                                            dddddddd                                     
         OOOOOOOOO                                                                                        iiii              d::::::d                                     
       OO:::::::::OO                                                                                     i::::i             d::::::d                                     
     OO:::::::::::::OO                                                                                    iiii              d::::::d                                     
    O:::::::OOO:::::::O                                                                                                     d:::::d                                      
    O::::::O   O::::::Ovvvvvvv           vvvvvvv eeeeeeeeeeee    rrrrr   rrrrrrrrr   rrrrr   rrrrrrrrr  iiiiiii     ddddddddd:::::d     eeeeeeeeeeee        ssssssssss   
    O:::::O     O:::::O v:::::v         v:::::vee::::::::::::ee  r::::rrr:::::::::r  r::::rrr:::::::::r i:::::i   dd::::::::::::::d   ee::::::::::::ee    ss::::::::::s  
    O:::::O     O:::::O  v:::::v       v:::::ve::::::eeeee:::::eer:::::::::::::::::r r:::::::::::::::::r i::::i  d::::::::::::::::d  e::::::eeeee:::::eess:::::::::::::s 
    O:::::O     O:::::O   v:::::v     v:::::ve::::::e     e:::::err::::::rrrrr::::::rrr::::::rrrrr::::::ri::::i d:::::::ddddd:::::d e::::::e     e:::::es::::::ssss:::::s
    O:::::O     O:::::O    v:::::v   v:::::v e:::::::eeeee::::::e r:::::r     r:::::r r:::::r     r:::::ri::::i d::::::d    d:::::d e:::::::eeeee::::::e s:::::s  ssssss 
    O:::::O     O:::::O     v:::::v v:::::v  e:::::::::::::::::e  r:::::r     rrrrrrr r:::::r     rrrrrrri::::i d:::::d     d:::::d e:::::::::::::::::e    s::::::s      
    O:::::O     O:::::O      v:::::v:::::v   e::::::eeeeeeeeeee   r:::::r             r:::::r            i::::i d:::::d     d:::::d e::::::eeeeeeeeeee        s::::::s   
    O::::::O   O::::::O       v:::::::::v    e:::::::e            r:::::r             r:::::r            i::::i d:::::d     d:::::d e:::::::e           ssssss   s:::::s 
    O:::::::OOO:::::::O        v:::::::v     e::::::::e           r:::::r             r:::::r           i::::::id::::::ddddd::::::dde::::::::e          s:::::ssss::::::s
     OO:::::::::::::OO          v:::::v       e::::::::eeeeeeee   r:::::r             r:::::r           i::::::i d:::::::::::::::::d e::::::::eeeeeeee  s::::::::::::::s 
       OO:::::::::OO             v:::v         ee:::::::::::::e   r:::::r             r:::::r           i::::::i  d:::::::::ddd::::d  ee:::::::::::::e   s:::::::::::ss  
         OOOOOOOOO                vvv            eeeeeeeeeeeeee   rrrrrrr             rrrrrrr           iiiiiiii   ddddddddd   ddddd    eeeeeeeeeeeeee    sssssssssss    
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
 */
/**
 *      This file overrides Inuit.css default values.
 *      Please copy here the ./inuitcss/settings.defaults.scss with all its sections but
 *      only retain the values you wish to override
 */

///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.





// High-level base settings.
$inuit-base-font-size:          18px;
$inuit-base-line-height:        1.5 * $inuit-base-font-size;
$inuit-base-text-color:         #222;
$inuit-base-background-color:   #fff;





// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
//$inuit-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
// $inuit-base-spacing-unit:           $inuit-base-line-height;
// $inuit-base-spacing-unit--tiny:     round($inuit-base-spacing-unit / 4);
// $inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
// $inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);
// $inuit-base-spacing-unit--huge:     round($inuit-base-spacing-unit * 4);





// Spacing      trumps.spacing
$inuit-enable-margins: true;
$inuit-enable-margins--tiny: true;
$inuit-enable-margins--small: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
$inuit-enable-margins--none: true;
$inuit-enable-margins--negative: true;

$inuit-enable-paddings: true;
$inuit-enable-paddings--tiny: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--none: true;



// table        objects.tables
$inuit-enable-table--fixed: true;
$inuit-enable-table--compact: true;
$inuit-enable-table--cosy: true;
$inuit-enable-table--comfy: true;
$inuit-enable-table--cells: true;
$inuit-enable-table--rows: true;
$inuit-enable-table--columns: true;



// Layout       objects.layout
$inuit-enable-layout--tiny: true;
$inuit-enable-layout--small: true;
$inuit-enable-layout--large: true;
$inuit-enable-layout--huge: true;
$inuit-enable-layout--flush: true;
$inuit-enable-layout--rev: true;
$inuit-enable-layout--middle: true;
$inuit-enable-layout--bottom: true;
$inuit-enable-layout--right: true;
$inuit-enable-layout--center: true;
$inuit-enable-layout--auto: true;



// Block        objects.block
$inuit-enable-block--flush: true;
$inuit-enable-block--tiny: true;
$inuit-enable-block--small: true;
$inuit-enable-block--large: true;
$inuit-enable-block--huge: true;
$inuit-enable-block--right: true;
$inuit-enable-block--center: true;



// Pack         objects.pack
$inuit-enable-pack--middle: true;   // aligns vertical middle
$inuit-enable-pack--bottom: true;   // aligns vertical bottom
$inuit-enable-pack--auto: true;     // different sizes
$inuit-enable-pack--tiny: true;     // enables tiny gutters between items
$inuit-enable-pack--small: true;    // enables small gutters between items
$inuit-enable-pack--large: true;    // enables large gutters between items
$inuit-enable-pack--huge: true;     // enables huge gutters between items
$inuit-enable-pack--rev: true;      // reverses the order of the items



// List-inline  objects.list-inline
$inuit-enable-list-inline--delimited: true;     // allows the use of a delimiter ($inuit-list-inline-delimit-character)
$inuit-list-inline-delimit-character: "-*-";



// List-ui      objects.list-ui
$inuit-enable-list-ui--tiny: true;
$inuit-enable-list-ui--small: true;
$inuit-enable-list-ui--large: true;
$inuit-enable-list-ui--huge: true;



// List-block   objects.list-block
$inuit-enable-list-block--tiny: true;
$inuit-enable-list-block--small: true;
$inuit-enable-list-block--large: true;
$inuit-enable-list-block--huge: true;



// Widths       trumps.widths / trumps.widths-responsive
// $inuit-widths-columns: (1, 2, 3, 4, 5, 6, 7, 8);
// $inuit-widths-columns-responsive: (1, 2, 3, 4, 5, 6, 7, 8);



// Media        objects.media
$inuit-enable-media--tiny: true;
$inuit-enable-media--small: true;
$inuit-enable-media--large: true;
$inuit-enable-media--huge: true;
$inuit-enable-media--rev: true;
$inuit-enable-media--flush: true;
$inuit-enable-media--responsive: true;
$inuit-media-collapse-at: 640px;



// Flag         objects.flag
$inuit-enable-flag--tiny: true;
$inuit-enable-flag--small: true;
$inuit-enable-flag--large: true;
$inuit-enable-flag--huge: true;
$inuit-enable-flag--rev: true;
$inuit-enable-flag--flush: true;
$inuit-enable-flag--top: true;
$inuit-enable-flag--bottom: true;
$inuit-enable-flag--responsive: true;
$inuit-flag-collapse-at: 640px;



// Box         objects.box
$inuit-enable-box--tiny: true;
$inuit-enable-box--small: true;
$inuit-enable-box--large: true;
$inuit-enable-box--huge: true;
$inuit-enable-box--flush: true;



// Buttons     objects.buttons
$inuit-enable-btn--small: true;
$inuit-enable-btn--large: true;
$inuit-enable-btn--full: true;
$inuit-enable-btn--pill: true;











