/* 
                                                                                                                                                                         
                                                                                                                            dddddddd                                     
         OOOOOOOOO                                                                                        iiii              d::::::d                                     
       OO:::::::::OO                                                                                     i::::i             d::::::d                                     
     OO:::::::::::::OO                                                                                    iiii              d::::::d                                     
    O:::::::OOO:::::::O                                                                                                     d:::::d                                      
    O::::::O   O::::::Ovvvvvvv           vvvvvvv eeeeeeeeeeee    rrrrr   rrrrrrrrr   rrrrr   rrrrrrrrr  iiiiiii     ddddddddd:::::d     eeeeeeeeeeee        ssssssssss   
    O:::::O     O:::::O v:::::v         v:::::vee::::::::::::ee  r::::rrr:::::::::r  r::::rrr:::::::::r i:::::i   dd::::::::::::::d   ee::::::::::::ee    ss::::::::::s  
    O:::::O     O:::::O  v:::::v       v:::::ve::::::eeeee:::::eer:::::::::::::::::r r:::::::::::::::::r i::::i  d::::::::::::::::d  e::::::eeeee:::::eess:::::::::::::s 
    O:::::O     O:::::O   v:::::v     v:::::ve::::::e     e:::::err::::::rrrrr::::::rrr::::::rrrrr::::::ri::::i d:::::::ddddd:::::d e::::::e     e:::::es::::::ssss:::::s
    O:::::O     O:::::O    v:::::v   v:::::v e:::::::eeeee::::::e r:::::r     r:::::r r:::::r     r:::::ri::::i d::::::d    d:::::d e:::::::eeeee::::::e s:::::s  ssssss 
    O:::::O     O:::::O     v:::::v v:::::v  e:::::::::::::::::e  r:::::r     rrrrrrr r:::::r     rrrrrrri::::i d:::::d     d:::::d e:::::::::::::::::e    s::::::s      
    O:::::O     O:::::O      v:::::v:::::v   e::::::eeeeeeeeeee   r:::::r             r:::::r            i::::i d:::::d     d:::::d e::::::eeeeeeeeeee        s::::::s   
    O::::::O   O::::::O       v:::::::::v    e:::::::e            r:::::r             r:::::r            i::::i d:::::d     d:::::d e:::::::e           ssssss   s:::::s 
    O:::::::OOO:::::::O        v:::::::v     e::::::::e           r:::::r             r:::::r           i::::::id::::::ddddd::::::dde::::::::e          s:::::ssss::::::s
     OO:::::::::::::OO          v:::::v       e::::::::eeeeeeee   r:::::r             r:::::r           i::::::i d:::::::::::::::::d e::::::::eeeeeeee  s::::::::::::::s 
       OO:::::::::OO             v:::v         ee:::::::::::::e   r:::::r             r:::::r           i::::::i  d:::::::::ddd::::d  ee:::::::::::::e   s:::::::::::ss  
         OOOOOOOOO                vvv            eeeeeeeeeeeeee   rrrrrrr             rrrrrrr           iiiiiiii   ddddddddd   ddddd    eeeeeeeeeeeeee    sssssssssss    
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
                                                                                                                                                                         
 */
/**
 *      This file overrides Inuit.css default values.
 *      Please copy here the ./inuitcss/settings.defaults.scss with all its sections but
 *      only retain the values you wish to override
 */

///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.





// High-level base settings.
$inuit-base-font-size:          18px;
$inuit-base-line-height:        1.5 * $inuit-base-font-size;
$inuit-base-text-color:         #00f;
$inuit-base-background-color:   #ccc;





// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
//$inuit-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
// $inuit-base-spacing-unit:           $inuit-base-line-height;
// $inuit-base-spacing-unit--tiny:     round($inuit-base-spacing-unit / 4);
// $inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
// $inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);
// $inuit-base-spacing-unit--huge:     round($inuit-base-spacing-unit * 4);
